$primary_color: rgba(55, 245, 172, 0.76);


html {
  background-color: rgba(10, 225, 240, 0.247);
}
body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: rgba(0, 195, 255, 0.87);
  img {
    border: none;
  }
}

li :hover {
  font-style: italic;
}

h1 {
  color:white;
  text-align: center;
  border: rgba(10, 225, 240, 0.247) 5px solid;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: auto;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}